<header class="shop__header">
  <h1 translate="SHOP_PREPAID_TITLE" class="shop__header__title"></h1>
  <!-- <habbo-shop-countries *ngIf="countries.length > 1" country="country" countries="countries" class="shop__header__country"></habbo-shop-countries> -->
</header>
<section>
  <article class="main static-content">
    <!-- <habbo-compile data="page"></habbo-compile> -->
  </article>
  <!-- <habbo-purse habbo-require-session class="aside aside--box"></habbo-purse> -->
  <aside habbo-require-session class="aside aside--box">
    <h3 translate="SHOP_REDEEM_TITLE"></h3>
    <!-- <habbo-voucher-redeem></habbo-voucher-redeem> -->
  </aside>
  <habbo-web-pages key="common/box_account_issues" class="aside aside--box"></habbo-web-pages>
</section>
