<button (click)="ngbActiveModal.dismiss()" class="modal__close"></button>
<h3 translate="NATIVE_MODAL_TITLE" class="modal__title"></h3>
<div class="modal__content">
  <!-- <p>native-hotel-modal works!</p> -->
  <!-- <div *ngIf="$ctrl.loading">
    <inline-spinner></inline-spinner>
  </div> -->
  <!-- <div *ngIf="!$ctrl.loading && $ctrl.error">
    <span class="hotel-button-native__error" translate="NATIVE_MODAL_OPEN_ERROR"></span>
  </div> -->
  <!-- <div *ngIf="!$ctrl.loading && !$ctrl.error">
    <native-hotel-launch url="{{$ctrl.url}}"></native-hotel-launch>
    <native-hotel-code code="{{$ctrl.ticket}}"></native-hotel-code>
    <native-hotel-downloads></native-hotel-downloads>
    <native-hotel-downloads-faq></native-hotel-downloads-faq>
  </div> -->
</div>
