<header class="photos__header">
  <div class="photos__header__container wrapper">
    <div class="photos__header__image__wrapper">
      <div class="photos__header__image"></div>
    </div>
    <div class="photos__header__content">
      <h1 class="photos__header__title" translate="PHOTOS_TITLE"></h1>
      <p translate="PHOTOS_DESCRIPTION"></p>
    </div>
  </div>
</header>
<section class="wrapper wrapper--content">
  <!-- <habbo-columns-channel items="photos"></habbo-columns-channel> -->
</section>
