<habbo-header-small></habbo-header-small>
<section class="wrapper wrapper--content">
  <!-- <article class="main static-content"> -->
    <!-- <h1>Housekeeping</h1>
    <p>The Control Panel is an Administrative area used to manage the Server. If you are part of the administrative team, you can access the panel by pressing the down button.</p>

    <hr>

    <blockquote>
      <button class="account-security__disable">Go back to Hotel</button>
      <button class="form__submit">Go to espreso Housekeeping</button>
    </blockquote> -->

    <!-- <hr>

    <button class="account-security__disable">red l</button>
    <button class="account-security__edit">green l</button>

    <button class="discussions__reply">blue r</button>
    <button class="form__submit">green r</button>
    <button class="form__submit report-form__submit">red r</button>

    <button class="native-hotel-download">yellow</button>

    <hr>

    <habbo-message-container type="check">
      <section>
        <h3>Titulo</h3>
        <p>Texto</p>
      </section>
    </habbo-message-container>
    <habbo-message-container type="exclamation">
      <section>
        <h3>Titulo</h3>
        <p>Texto</p>
      </section>
    </habbo-message-container> -->
  <!-- </article> -->
  {{page}}

  <habbo-web-pages key="{{'dev/' + page}}" class="main"></habbo-web-pages>
  <habbo-web-pages key="{{'dev/' + page + '_box'}}" class="aside aside--box aside--push-down"></habbo-web-pages>
</section>
