<habbo-header-small active="community"></habbo-header-small>
<habbo-tabs>
  <habbo-tab path="/community/photos" translation-key="COMMUNITY_PHOTOS_TAB"></habbo-tab>
  <habbo-tab path="/community/rooms" translation-key="COMMUNITY_ROOMS_TAB"></habbo-tab>
  <habbo-tab path="/community/fansites" translation-key="COMMUNITY_FANSITES_TAB"></habbo-tab>
  <habbo-tab path="/community/category" alternative-path="/community/article" translation-key="COMMUNITY_NEWS_TAB"></habbo-tab>
</habbo-tabs>
<main>
  <router-outlet></router-outlet>
</main>
