<article class="main main--fixed static-content">
  <p>how-to-play works!</p>
  <!-- <habbo-compile [data]="page"></habbo-compile> -->
</article>
<habbo-ad-unit unit="inlineRectangle" class="aside aside--fixed aside--push-down"></habbo-ad-unit>
<habbo-web-pages key="common/box_habbo_way" class="aside aside--box aside--fixed"></habbo-web-pages>
<habbo-web-pages key="common/box_learn_how_to_stay_safe" class="aside aside--box aside--fixed"></habbo-web-pages>
<habbo-web-pages key="common/box_need_help" class="aside aside--box aside--fixed"></habbo-web-pages>
