<footer class="shop-footer">
  <section class="main shop-footer__main">
    <h3 translate="SHOP_NOTICE_TITLE" class="shop-footer__title"></h3>
    <p [innerHTML]="'SHOP_NOTICE_CONTENTS' | translate" class="shop-footer__text"></p>
  </section>
  <aside class="aside shop-footer__aside">
    <h4 translate="SHOP_NOTICE_PROVIDER_TITLE" class="shop-footer__title--aside"></h4>
    <p [innerHTML]="'SHOP_NOTICE_PROVIDER' | translate" class="shop-footer__text"></p>
    <a href="{{'FOOTER_SUPPORT_LINK' | translate}}" target="_blank" rel="noopener noreferrer" translate="FOOTER_SUPPORT" class="shop-footer__link"></a>
  </aside>
</footer>
