<footer class="wrapper">
  <div class="footer__media">
    <p class="footer__media__label" translate="FOLLOW_HABBO"></p>
    <ul itemscope itemtype="http://schema.org/Organization">
      <link itemprop="url" href="https://www.habbo.com">
      <li class="footer__media__item"><a href="https://www.facebook.com/Habbo" class="footer__media__link" target="_blank" itemprop="sameAs" rel="noopener noreferrer"><i class="icon icon--facebook"></i></a></li>
      <li class="footer__media__item"><a href="https://twitter.com/Habbo" class="footer__media__link" target="_blank" itemprop="sameAs" rel="noopener noreferrer"><i class="icon icon--twitter"></i></a></li>
      <li class="footer__media__item"><a href="https://www.youtube.com/user/Habbo" class="footer__media__link" target="_blank" itemprop="sameAs" rel="noopener noreferrer"><i class="icon icon--youtube"></i></a></li>
      <li class="footer__media__item"><a href="https://www.instagram.com/habboofficial" class="footer__media__link" target="_blank" itemprop="sameAs" rel="noopener noreferrer"><i class="icon icon--instagram"></i></a></li>
      <li class="footer__media__item"><a href="https://www.habbo.com/rss.xml" class="footer__media__link" target="_blank" itemprop="sameAs" rel="noopener noreferrer"><i class="icon icon--rss"></i></a></li>
    </ul>
  </div>
  <div class="footer__content">
    <ul class="footer__nav">
      <li *ngFor="let link of links" class="footer__nav__item"><a href="{{link + '_LINK' | translate}}" class="footer__nav__link" target="_blank" rel="noopener noreferrer" translate="{{link}}"></a></li>
    </ul>
    <p class="footer__copyright" translate="FOOTER_COPYRIGHT" [translateParams]="{ year: currentYear }"></p><a href="http://www.sulake.com" target="_blank" rel="noopener noreferrer" class="footer__sulake">Sulake</a>
  </div>
</footer>
