<!-- <habbo-moderation-notification habbo-require-session></habbo-moderation-notification> -->
<section>
  <h1 translate="NEWS_TITLE"></h1>
  <div class="main main--fixed">
    <!-- <habbo-compile data="promos"></habbo-compile> -->

    <section>
      <article class="news-header news-header--column">
        <a routerLink="/community/article/28605/version-0-15-0-205-release-notes" class="news-header__link news-header__banner">
          <figure class="news-header__viewport">
            <img src="/web_images/habbo-web-articles/lpromo_old_newweb2_15.png" alt="Version 0.15.0 (205) release notes" class="news-header__image news-header__image--featured">
            <img src="/web_images/habbo-web-articles/lpromo_old_newweb2_15_thumb.png" alt="Version 0.15.0 (205) release notes" class="news-header__image news-header__image--thumbnail">
          </figure>
        </a>
        <a routerLink="/community/article/28605/version-0-15-0-205-release-notes" class="news-header__link news-header__wrapper">
          <h2 class="news-header__title">Welcome to Habbo Web Clone (HWC)</h2>
        </a>
        <aside class="news-header__wrapper news-header__info">
          <time class="news-header__date">{{ 1614596438000 | date: 'mediumDate' }}</time>
          <ul class="news-header__categories">
            <li class="news-header__category">
              <a routerLink="/community/category/technical-updates" class="news-header__category__link" translate="NEWS_CATEGORY_TECHNICAL_UPDATES"></a>
            </li>
          </ul>
        </aside>
        <p class="news-header__wrapper news-header__summary">It's here!! *drum roll* & *crashing gong sound*</p>
      </article>
      <article class="news-header news-header--column">
        <a routerLink="/community/article/28605/version-0-15-0-205-release-notes" class="news-header__link news-header__banner">
          <figure class="news-header__viewport">
            <img src="/web_images/habbo-web-articles/lpromo_gen15_07.png" alt="Version 0.15.0 (205) release notes" class="news-header__image news-header__image--featured">
            <img src="/web_images/habbo-web-articles/lpromo_gen15_07_thumb.png" alt="Version 0.15.0 (205) release notes" class="news-header__image news-header__image--thumbnail">
          </figure>
        </a>
        <a routerLink="/community/article/28605/version-0-15-0-205-release-notes" class="news-header__link news-header__wrapper">
          <h2 class="news-header__title">Version 0.15.0 (205) release notes</h2>
        </a>
        <aside class="news-header__wrapper news-header__info">
          <time class="news-header__date">{{ 1614596438000 | date: 'mediumDate' }}</time>
          <ul class="news-header__categories">
            <li class="news-header__category">
              <a routerLink="/community/category/technical-updates" class="news-header__category__link" translate="NEWS_CATEGORY_TECHNICAL_UPDATES"></a>
            </li>
          </ul>
        </aside>
        <p class="news-header__wrapper news-header__summary">Click to find out what&#x2019;s included in our most recent update!</p>
      </article>
      <article class="news-header news-header--column">
        <a routerLink="/community/article/23747/habbo-safety-news" class="news-header__link news-header__banner">
          <figure class="news-header__viewport">
            <img src="/web_images/habbo-web-articles/safety.promo_.png" alt="Update: Account Safety" class="news-header__image news-header__image--featured">
            <img src="/web_images/habbo-web-articles/safety.promo__thumb.png" alt="Update: Account Safety" class="news-header__image news-header__image--thumbnail">
          </figure>
        </a>
        <a routerLink="/community/article/23747/habbo-safety-news" class="news-header__link news-header__wrapper">
          <h2 class="news-header__title">Update: Account Safety</h2>
        </a>
        <aside class="news-header__wrapper news-header__info">
          <time class="news-header__date">{{ 1614596438000 | date: 'mediumDate' }}</time>
          <ul class="news-header__categories">
            <li class="news-header__category">
              <a routerLink="/community/category/safety" class="news-header__category__link" translate="NEWS_CATEGORY_SAFETY"></a>
            </li>
          </ul>
        </aside>
        <p class="news-header__wrapper news-header__summary">Update on the recent phishing scam.</p>
      </article>
    </section>

    <div class="news__navigation">
      <a routerLink="/community/category/all" class="news__more" translate="NEWS_MORE"></a>
    </div>
  </div>
  <habbo-ad-unit unit="inlineRectangle" class="aside aside--fixed"></habbo-ad-unit>
  <habbo-web-pages key="common/box_learn_how_to_stay_safe" class="aside aside--box aside--fixed"></habbo-web-pages>
  <habbo-web-pages key="common/box_parents_guide" class="aside aside--box aside--fixed"></habbo-web-pages>
</section>
